html, body {
  font-family: 'Roboto', sans-serif;
  font-size:14px;
  height:100%;
  margin: 0px;
  padding: 0px;
}

body {
  background: url('../build/images/bg1.jpg');
  background-size: cover;
}

.hidden {
    display: none;
}

.md-content-transparent {
  background-color: transparent;
}